h1
{
    font: large;
    text-align: center;
    color: blue;
    font-family: serif;
}
p
{
    margin: 50px;
    font-family: verdana;
    text-align: left;
}
a
{
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    font-family: courier;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
button
{
    border-radius: 50%;
}